#chart-container {
/*  display: hidden;*/
  width: 90%;
  margin: 0 auto;
}

#chart-hourly {
}
#chart-daily {

}
#chart-weekly {
  
}
#chart-monthly {
  
}

.graph {
  display: block;
}

.graph tspan {
  text-transform: capitalize;
}

#chart-stats {}
  #chart-stats-left {
    float: left;
    padding; 10px;
  }
    #chart-last {}
    #chart-first {}
    #chart-average {}
  #chart-stats-right {
    float: right;
    padding: 10px;
  }
    #chart-min {}
    #chart-max {}
    #chart-median {}
      
#attribute_keys {
  display: none;
}