#chart-container data-hourly-start=(Time.now - 1.hour).to_i data-daily-start=(Time.now - 1.day).to_i data-weekly-start=(Time.now - 1.week).to_i data-monthly-start=(Time.now - 1.month).to_i data-end=Time.now.to_i